.light body {
  background-color: #f2f2f2;
}

/* ----- WRAPPER START ----- */

/* ----- TOOLBAR START ----- */

.light .toolbar {
    background-color: #f2f2f2;
    box-shadow:  
    -23px -23px 50px #ffffff, 
     15px  15px 45px #11131626;
  }

.light .mobile-toolbar-nav {
  background-color: #f2f2f2;
  box-shadow: 4px 2px 4px #11131626 inset, 
  -4px -2px 4px #ffffff inset;
  
}

  /* @media only screen and (max-width: 1100px) {
    .light .toolbar .mobile {
      background-color: #f2f2f2;
      box-shadow:  
      -23px -23px 50px #ffffff, 
       15px  15px 45px #11131626;
       border-radius: 8px;
    } 
  }  */

  .light .toolbar .item {
    background-color: #f2f2f2;
    box-shadow: 
      -5px -5px 10px #ffffff, 
      -5px -5px 10px #ffffff, 
       5px  5px 10px #11131626;
  }

  .light .toolbar .item:hover {
    box-shadow: 
      -9px -9px 16px #ffffff, 
       9px  9px 16px #11131626;
  }
  
  .light .toolbar .item.clicked {
    box-shadow: 
      -8px -8px 8px #ffffff,
       8px  8px 8px #11131616,
      -4px -4px 4px #ffffff inset, 
       4px  4px 4px #11131616 inset;
  }

  .light .color-wheel.clicked  {
    background-image: url("../Toolbar/Icons/color-wheel-solid.png");
  } 

  .light .toolbar .item .dark {
    display: none; 
  }

/* --- LIGHT TO DARK MODE TOGGLE --- */
  
    .light .toggle {
      background: linear-gradient(0.25turn, #0d2750, #f2f2f2, #f2f2f2);
      box-shadow:
      -8px -4px 8px #ffffff,
       8px  4px 12px #11131626;
      
    }
  
      .light .indicator {
        box-shadow:
          -5px -5px 10px #ffffff inset,
          -2px -2px 5px #ffffff inset,
           5px  5px 10px #11131636 inset;
      }

  /* ----- TOOLBAR END ----- */

  /* ----- SHAPES WRAPPER START ----- */

  .light .shapes-wrapper .item .dark{
    display: none;
  }

  .light .shapes-wrapper {
    box-shadow: 
      -9px -9px 16px #ffffff, 
       9px  9px 16px #11131626;
  }

  .light .shapes-wrapper .item {
    height: 48px;
    width: 48px;
    border-radius: 60px;
    display: block;
    transition: all 0.3s;
  }
  
  .light .shapes-wrapper img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .light .shapes-wrapper .item:hover {
    box-shadow: 
      -9px -9px 16px #ffffff, 
       9px  9px 16px #11131626;
  }

/* ----- SHAPES WRAPPER END -----*/

/* ----- MAIN START ----- */

/* --- LOGO --- */
  .light .logo {
    background-image: url("../logo/light-logo.svg");
  }

/* --- CANVAS --- */
  .light #my-canvas {
    background-color: #f2f2f2;
    box-shadow: 
     -20px -20px 45px #ffffff, 
      20px  20px 45px #11131626;
  }

  /* ----- MAIN END ----- */
  /* ----- WRAPPER END ----- */