* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

.wrapper {
  display: flex;
  height: 100vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
  width: 88px;
  height: 100vh;
  padding-top: 6rem;
}
.toolbar .item {
  height: 48px;
  width: 48px;
  border-radius: 60px;
  display: block;
  transition: all 0.3s;
  margin: 1rem;
  margin-top: 2rem;
}
.toolbar .item img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toolbar img.dots {
  top: 40%;
}
.toolbar img.color-wheel {
  top: 55%;
}
.toolbar img.shapes {
  top: 55%;
}

.shapes-wrapper {
  width: 0;
}
.shapes-wrapper .tool-test {
  position: absolute;
  top: 30rem;
  left: 10rem;
  padding: 1rem;
  border-radius: 8px;
}
.shapes-wrapper .item {
  margin: 2rem 0.5rem;
}

main {
  width: 100%;
}

.logo {
  width: calc(100% - 88px);
  height: 100px;
  background-repeat: no-repeat;
  margin: 2rem 0 0 2rem;
}

.mycanvas {
  width: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#my-canvas {
  border-radius: 16px;
}

#img-data-div {
  width: 100%;
  max-width: 900px;
  height: 200px;
}


#darklight-toggle {
  height: 48px;
  width: 48px;
  border-radius: 30px;
  display: block;
  transition: all 0.3s;
  margin: 1rem;
  margin-top: 2rem;
  border: none;
}

