* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
}

/* ----- DESKTOP ----- */
/* ----- WRAPPER START ----- */

.wrapper {
  display: flex;
  height: 100vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----- TOOLBAR START ----- */

.mobile-popup {
  display: none
}

.toolbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90px;
  height: 100vh;
  position: relative;
} 
  
.toolbar-items {
  margin-top: 5.5rem;
}

.toolbar .item {
  height: 48px;
  width: 48px;
  border-radius: 60px;
  display: block;
  transition: all 0.3s;
  margin: 1rem;
  margin-top: 2rem; 
  cursor: pointer;
}

.toolbar .item img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toolbar .item .solidcolorwheel {
  display: none;
}

.toolbar .item.clicked .solidcolorwheel {
  display: block;
}

.toolbar .item.clicked .colorwheel {
  display: none;
}

.preview {
  background-color: rgb(0, 0, 0);
  width: 1.6rem;
  height: 1.6rem;
  transform: rotate(45deg);
  border-radius: 0% 50% 50% 50%;
  position: absolute;
  left: 1.68rem;
  top: 33.3rem;
}

#colorwheel {
  position: absolute;
  left: 8rem;
  top: 30rem;
}

.toolbar img.eraser {
  top: 55%;
}

.toolbar img.colorwheel {
  top: 55%;
}

.toolbar img.solidcolorwheel {
  top: 55%;
}

.toolbar img.shapes {
  top: 55%;
}

/* --- LIGHT TO DARK MODE TOGGLE --- */

.label {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 60px;
  border-radius: 10px;
  overflow: hidden;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 20px;
  width: 20px;
  border-radius: 16px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(75%, 0, 0);
}

/* ----- TOOLBAR END ----- */

/* ----- SHAPES WRAPPER START ----- */
.shapes-wrapper {
  position: absolute;
  top: 30rem;
  left: 9.4rem;
  padding: 0.5rem;
  border-radius: 8px;
  display: none;
}

.shapes-wrapper .item {
  margin: 2rem 0.5rem;
}

/* ----- SHAPES WRAPPER END -----*/


/* ----- MAIN START ----- */
main {
  width: 100%;
}

/* --- LOGO --- */
.logo {
  width: calc(100% - 90px);
  height: 100px;
  background-repeat: no-repeat;
  margin: 2rem 0 0 2rem;
}

/* --- CANVAS --- */

.canvas-wrapper {
  height: calc(100% - 132px);
  display: flex;
}

.invisible-filler {
  height: 100%;
  width: 230px;
}

.mycanvas {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center; 
}

#my-canvas {
  cursor: pointer;
  border-radius: 16px;
}
  
/* ----- MAIN END ----- */
/* ----- WRAPPER END ----- */


/* - MOBILE MEDIA QUERY - */
@media only screen and (max-width: 600px) {
    
  .wrapper {
    flex-direction: column-reverse;
    align-items: center;
    
  } 
  
  .toolbar {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1rem;
    height: auto;
    width: 90vw;
    border-radius: 8px;
    margin: 0;
  }

  .toolbar-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .mobile-popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }

  .mobile-toolbar-nav {
    width: 80px;
    height: 7px;
    border-radius: 6px;
    border-style: none;
  }
  
  .label {
    margin: 1.5rem 1rem;
  }

  .shapes-wrapper  {
    display: inline-flex;
    top: auto;
    bottom: 15rem;
    left: auto;
    right: 2rem;
  }
  
  main {
    width: auto;
  }

  .logo {
    display: none;
  }

  .invisible-filler {
    display: none;
  }
} 
