
// $primary-font: 
// $secondary-font: 
/*$primary-color-light: #f2f2f2;
$primary-color-dark: #33363d; 
$accent-color-dark: #fda704
$accent-color-light: #0d2750;


#111316
Dark shadow
dark/light mode

#3B3C41
Light shade Dark mode

#404145
Light shade 
inverted button
Dark mode

#FFFFFF
Light shade
light mode*/



@mixin button-dark {
  height: 48px;
  width: 48px;
  background-color: #33363D;
  box-shadow: 9px 9px 16px #11131670, -9px -9px 16px #49494960;
  border-radius: 60px;
  display: block;
}

@mixin large-shade {
  background-color: #33363D;
  box-shadow: -23px -23px 50px #3B3C41, 28px 28px 45px #11131660;
}

