.wrapper {
  max-width: 900px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.toolbar {
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 90vh;
  margin-top: 20px;
  background-color: #33363d;
  overflow: auto;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px rgb(31, 30, 30));
}

.toolbar a {
  display: flex;
  position:relative;
  margin: 5px 5px;
  padding: 5px 5px;
  transition: all 0.3s;
}
.swordtool{
  padding-top: 5px;
}

.toolbar a:hover {
  background-color: black;
  border-radius: 50%;
}

#my-canvas {
  position:absolute;
  background-color: #33363D;
  height: 90vh;
  width: 100vh;
  border-radius: 10px;
  filter: drop-shadow(10px 10px 10px rgb(31, 30, 30));
  
}

#img-data-div {
  width: 100%;
  max-width: 900px;
  height: 200px;
}


