@use "shade";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  background-color: #33363D;
}

.wrapper {
  display: flex;
  height: 100vh;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}
  
.toolbar {
  width: 88px;
  height: 100vh;
  padding-top: 4rem;
  @include shade.large-shade;

  & a {
    transition: all 0.3s;
    margin: 1rem;
    margin-top: 2rem;
    @include shade.button-dark;
  }
  
  & a:hover {
    box-shadow: inset -5px -5px 10px rgba(94, 91, 91, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.25);

  }

  & a img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
  }

  & .dots {
   top: 40%;
  }

  & .color-drop {
    top: 55%;
  }

  & .shapes {
    top: 55%;
  }
  
}

.selected {
  background-color: black;
}

main {
  width: 100%;
}

.logo {
  width: calc(100% - 88px);
  margin: 2rem 0 0 3rem;
  
}

.mycanvas {
  width: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#my-canvas {
  @include shade.large-shade;
  border-radius: 16px;
}

#img-data-div {
  width: 100%;
  max-width: 900px;
  height: 200px;
}




  